@import "../css/bootstrap-variables.scss";
@use 'sass:color';

.follow-btn {
    align-self: center;
    padding: 3px 15px;
    border: 1px solid $primary;
    background-color: transparent;
    border-radius: 100rem;
    color: $primary;
    transition: border-color 0.2s, color 0.2s, background-color 0.2s;

    &::after {
        content: "Follow";
    }

    &:hover {
        background-color: rgba($primary, 0.05);
    }
    &.followed {
        width: 100px;

        background-color: $primary;
        color: $white;
        &::after {
            content: "Following";
        }
        &:hover {
            background-color: $danger;
            border: 1px solid $danger;

            &::after {
                content: "Unfollow";
            }
        }
    }
}